<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Moritz Beck (Birkenstab)">
</head>
<body>
{{{body}}}
</body>
</html>
