body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div {
    line-height: 100vh;
    height: 100vh;
    text-align: center;
}

h1 {
    display: inline-block;
    font-size: 3vw;
    text-align: center;
    line-height: initial;
    vertical-align: middle;
    margin: 0 20px;
}

/* Github corner */

.github-svg {
    width: 4rem;
    height: 4rem;
    fill: #151513;
    color: #fff;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
